<div class="container top-margin">
    <div class="row">
        <div class="col-md-12">
            <h1 class="lato-font">
                Contact Me
            </h1>
            <mat-divider></mat-divider>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <p class="lato-font" style="font-size: 1.1rem; font-weight: bold;">
                            <a href="mailto:sathyanpeevee@gmail.com">
                                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            </a>
                            &nbsp;&nbsp;sathyanpeevee@gmail.com
                        </p>
                        
                        <p class="lato-font" style="font-size: 1.1rem; font-weight: bold;">
                            <a href="tel:+96899378367">
                                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                            </a>
                            &nbsp;&nbsp;+968 99378367
                        </p>

                        <p class="lato-font" style="font-size: 1.1rem; font-weight: bold;">
                            <a href="https://wa.me/96899378367" target="_blank">
                                <span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
                            </a>
                            &nbsp;&nbsp;+968 99378367
                        </p>

                        <p class="lato-font" style="font-size: 1.1rem; font-weight: bold;">
                            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            &nbsp;&nbsp;PB 918, PC 112, Ruwi, Muscat, Sultanate of Oman
                        </p>

                        <div class="container-fluid mt-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-center">
                                        <a href="https://www.facebook.com/sathianfoto/" target="_blank" class="mx-3">
                                            <span>
                                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <a href="https://www.instagram.com/sathyanpeevee/" target="_blank" class="mx-3">
                                            <span>
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <a href="https://www.youtube.com/channel/UCNz9AeKsQOrDRfeiIScLeWw" target="_blank" class="mx-3">
                                            <span>
                                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                            </span>
                                        </a>    
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>