@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.lato-font {
    font-family: 'Lato', sans-serif !important;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    -webkit-font-weight: lighter;
    -webkit-text-stroke: 1px;
}

.cover {
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
}

.gallery {
    min-height: 1rem;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    text-align: right;
    color: white;
}

#main {
    background: black;
    color: lightgray;
}

.wrapper {
    position: relative;
    width: 100%;
}
  
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.wrapper:hover .image {
    opacity: 0.3;
}
  
.wrapper:hover .middle {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 2rem;
    padding: 5px;
    font-weight: lighter;
}

.media {
    width: calc(100%/6) !important;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.logo {
    width: 10vw; 
    filter: invert(1);
}

.ctaButton {
    background: transparent;
    border: 1px solid lightgrey;
    color: lightgrey;
    font-size: 1.25rem;
    border-radius: 10px;
    padding: 0 20px;
}

@media screen and (max-width: 736px) {
    .media {
        width: calc(100%/3) !important;
    }

    .logo {
        width: 25vw;
    }
}

@media screen and (min-width: 736px) {
    .overlay {
        display: none;
    }
}

@media screen and (max-width: 736px) {
    .lato-font {
        font-weight: bold !important;
        -webkit-font-weight: bold !important;
    }
}
