<div class="container top-margin">
    <h1 class="lato-font">
        Video Gallery
    </h1>
    <div class="row">
        <mat-divider></mat-divider>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-4">
                    <iframe 
                        class="w-100" 
                        height="315" 
                        src="https://www.youtube.com/embed/-i47SQdoAoU" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen
                    ></iframe>
                </div>
                <div class="col-md-4">
                    <iframe 
                        class="w-100" 
                        height="315" 
                        src="https://www.youtube.com/embed/V1FDls3YBm4" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen
                    ></iframe>
                </div>
                <div class="col-md-4">
                    <iframe 
                        class="w-100" 
                        height="315" 
                        src="https://www.youtube.com/embed/jdqWu6lii0U" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen
                    ></iframe>
                </div>
                <div class="col-md-4">
                    <iframe 
                        class="w-100" 
                        height="315" 
                        src="https://www.youtube.com/embed/IdHCdFU6XNA" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen
                    ></iframe>
                </div>
                <div class="col-md-4">
                    <iframe 
                        class="w-100" 
                        height="315" 
                        src="https://www.youtube.com/embed/UodCT3FATww" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen
                    ></iframe>
                </div>
                <div class="col-md-4">
                    <iframe 
                        class="w-100" 
                        height="315" 
                        src="https://www.youtube.com/embed/01Al1M41oQc" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen
                    ></iframe>
                </div>
                <div class="col-md-4">
                    <iframe 
                        class="w-100" 
                        height="315" 
                        src="https://www.youtube.com/embed/gLcrdIDdgVk" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
